body {
	padding: 48px;
	font-size: 16px;
	font-family: 'Nunito Sans';
	color: #312529;
	background-color: #ece8e9;
}

h1 {
	font-size: 2.5rem;
	font-family: 'Work Sans';
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 12px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 16px;
	border-bottom: 2px solid #312529;
	margin-bottom: 24px;
}

button {
	background-color: #e08d20;
	color: white;
	padding: 2px 8px;
	border: 1px solid transparent;
	border-radius: 12px;
}

input {
	display: block;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 8px;
	background-color: #faf8f8;
}

.toggleable {
	margin-bottom: 16px;
}

.notification {
	padding: 16px 12px;
	border: 3px solid rgb(28, 173, 28);
	border-radius: 4px;
	margin-bottom: 16px;
	color: rgb(28, 173, 28);
	background-color: #faf8f8;
	font-size: 1.5rem;
}

.notification.error {
	border: 3px solid rgb(224, 31, 31);
	color: rgb(224, 31, 31);
}

.blog-container {
	padding: 12px 8px;
	border-radius: 6px;
	margin-bottom: 16px;
	background-color: #faf8f8;
}

.blog-container > p {
	margin-bottom: 4px;
}

.blog-container > button {
	background-color: rgb(224, 86, 86);
}
